<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/style.css">
    <title>Document</title>
    <%-style%>
</head>

<body>
<%-body%>
<script src="/socket.io/socket.io.js"></script>
<script src="/dist/jquery/jquery-3.7.0.min.js"></script>
<script src="/dist/bootstrap/bootstrap.bundle.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=falxse"></script>
<script src="/dist/index.js"></script>
<script src="/dist/socket.js"></script>
<script src="/dist/shareLocation.js"></script>
<script src="/dist/sendFile.js"></script>
<%-script%>
</body>

</html>